

.example-full-width {
  width: 100%;
}
.outer{
  margin: 0;
  padding: 35px 0;
}
.sing-in-button{
  width: 100%;
  padding: 4px 0;
  color: white;
  background-color: #34495e;
  font-weight: bold;
}
