<div class="main-wrap">
<span>Robo Tikka</span>
</div>


<div class="product-context">
  <div class="product-outer">

    <div class="img-wrap">
      <img src="https://static-01.daraz.lk/p/c7be9b616c1c1c37db7a9021cbf84744.jpg" alt="iphone12">
    </div>
     <div class="details-wrap">
     <h2 class="product-name">
       ffdddfd
     </h2>
     <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid, blanditiis cum doloribus eaque eius facilis, fuga id laborum laudantium maxime modi, nemo officiis optio pariatur rem tenetur ullam ut.</p>
     <h1 class="cost">
       <span class="price">2500 LKR</span>
       &nbsp;&nbsp;&nbsp;
       <span class="discount">
         <del>250 LKR</del>
       </span>
     </h1>
     </div>

  </div>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>
